* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 62.5%;
  font-family: "Poppins", sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 3em;
}

header img {
  width: 20em;
  height: 50%;
}

.button-header {
  background-color: white;
  border: 1px solid #ff52c1;
  border-radius: 3em;
  padding: 1em 3em;
  color: #ff52c1;
  cursor: pointer;
}

.header-content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 10em 0;
}

p {
  color: hsl(192, 100%, 9%);
}

.header-content p {
  max-width: 40em;
  margin: 1em 0;
  font-size: 1.5em;
  text-align: center;
}

.btn1 {
  background-color: #ff52c1;
  color: white;
  border-radius: 3em;
  padding: 1.5em 4em;
  border: none;
  font-weight: 700;
  margin: 2em 0;
  cursor: pointer;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.heading-primary {
  font-size: 4em;
  text-align: center;
}

.img-header {
  margin: 8em 0;
  max-width: 100%;
}

.section-achieved {
  display: flex;
  justify-content: space-between;
  gap: 30em;
  margin: 4em 0;
}

h2 {
  font-size: 7em;
}

.main-content-1 {
  display: flex;
  justify-content: center;
  position: relative;
  background-color: #f6fbff;
}

.main-content-1 div {
  align-self: center;
  margin: 0 auto;
  width: 50%;
}

.h1-content {
  font-size: 3.5em;
}

.p-content {
  max-width: 40em;
  font-size: 1.5em;
  margin: 1em 0;
}

.img-content {
  max-width: 30%;
  justify-self: center;
  margin: 0 auto;
}

.img-content2 {
  max-width: 50%;
  justify-self: center;
}

.img1 {
  width: 100%;
  margin-bottom: -1em;
}

.main-content-2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.main-content-2 div {
  align-self: center;
  margin: 0 auto;
  width: 50%;
}

.section1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20em 0;
}
/* Footer */
.img2 {
  width: 100%;
  margin-bottom: -1em;
}

.flex {
  display: flex;
  gap: 2em;
  margin: 2em 0;
}

footer {
  background-color: #01262f;
  color: white;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  padding: 8em 4em;
}

footer p {
  color: white;
}

.footer-content-1,
.footer-content-2 {
  margin: 0 8em;
}

.p-footer {
  max-width: 24em;
  text-align: justify;
  margin: 2em 0;
}

h3 {
  font-size: 1.5em;
}

.btn2 {
  background-color: #ff52c1;
  color: white;
  border-radius: 3em;
  padding: 1em 2em;
  border: none;
  font-weight: 700;
  margin: 0 2em;
  cursor: pointer;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

input {
  padding: 0.5em 0;
  border-radius: 0.5em;
  border: none;
  width: 18em;
}
